{
  "parserOptions": {
    "ecmaVersion": 6
  },
  "globals": {
    "showdown": true,
    "require": true,
    "exports": true,
    "jasmine": true,
    "module": true,
    "__dirname": true
  },
  "env": {
    "browser": true
  },
  "extends": ["eslint:recommended"]
}
